body {
    background-color: #f4f2f4;
    
}
header {
    grid-area: header;
    background-image: url(images/hero_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 431px;
    margin: 0px;
    color: white;
}
.container {
    display: flex;
    width: 1200px;
    margin: 20px auto;
}
main {
    background-color: white;
    grid-area: center;
    padding: 20px;
    margin: 0 20px;
}
.top_header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 1200px;
    margin: 0 auto;
}
header ul {
    list-style-type: none;
    display: flex;
    float: right;
}
.logo img {
    background-color: #d4d0d0;
    padding: 8px;
}
h1 {
    font-size: 20px;
    margin: 0 auto;
    width: 1200px;
    margin-top: 100px;
}

ul a {
    color: white;
    margin: 15px;
}

left_bar {
    grid-area: left;
    display: flex;
    background-color: white;
}
.side {
    flex-flow: column;
    width: 200px;
}
.menu {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}
.side a {
    font-weight: bolder;
    text-decoration: none;
    color: black;
    margin-left: 0px;
}
.side li {
    border-bottom: dotted 1px gray;
    padding: 10px;
}
.side li:last-child {
    border-bottom: none
}
.side ul {
    list-style-type: none;
    flex-flow: column;
    padding-left: 0px;
}
.rank {
    display: flex;
}
section {
    display: flex;
    padding-bottom: 20px
}
aside {
    grid-area: right;
    display: flex;
    flex-flow: column;
    width: 154px;
}
aside a {
    margin-bottom: 20px;
}
footer {
    grid-area: footer;
    background-color: #3a2d3a;
    color: white;
    height: 120px;
}
footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
footer a {
    text-decoration: none;
    color: white;
    margin: 0px;
    padding: 0px 10px;
    border-left: solid 1px white;
}
footer small {
    display: flex;
    justify-content: center;
}
footer ul li:last-child a {
    border-right: solid 1px white;
}
.side img, main img {
    margin-right: 5px;
}
h2 {
    background-color: #3a2d3a;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
}
h3, .rank {
    color: #693533;
}
.dish {
    padding: 20px
}
.first_explain {
    padding: 20px 0px;
}
.picture {
    padding: 20px;
}
.explain {
    text-indent: 1em;
    padding: 20px;
}